			<!-- panel left -->
			<div data-role="panel" id="leftpanel" data-display="overlay" data-position-fixed="true" >

				<div class='nd2-sidepanel-profile wow fadeInDown'>
					<img class='profile-background' src="img/logo.png" />
<!--					<img class='profile-background' src="//lorempixel.com/400/200/abstract/2/" /> -->
					<div class="row">
						<div class='col-xs-4 center-xs'>
							<div class='box'>
						<!-- **** For testing purposes only. To be replaced with persons real profile image before production deployment ***-->
								<img class="profile-thumbnail" src="img/user2-160x160.jpg" />
						<!-- **** For testing purposes only. To be replaced with persons real profile image before production deployment ***-->
							</div>
						</div>
						<div class='col-xs-8'>
							<div class='box profile-text'>
						<!-- **** For testing purposes only. To be replaced with persons real info before production deployment ***-->
								<strong>Mike Demo</strong>
						<!-- **** For testing purposes only. To be replaced with persons real info before production deployment ***-->
								<span class='subline'>Organisation here</span>
						<!-- **** For testing purposes only. To be replaced with persons real info before production deployment ***-->
							</div>
						</div>
					</div>
				</div>


				<button onclick="$.mobile.navigate('app.html');"><i class="fa fa-home fa-6x"></i><br />Home</button>
			</div>
			<!-- /panel left -->
